[mysqld]
bind-address=0.0.0.0
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
query_cache_limit       = 16M
query_cache_size        = 64M
binlog_ignore_db = romprdb
innodb_buffer_pool_size = 64M
innodb_flush_log_at_trx_commit = 0
